.card

  &-wrap
    margin-bottom: 4rem
    max-height: 26.2rem
    max-width: 44.2rem
    min-height: 26.2rem
    display: flex
    align-items: flex-end
    border-radius: 1rem

  &__img
    position: absolute
    z-index: 0

  &__content-wrap
    position: relative
    z-index: 1
    border-radius: 0 0 1rem 1rem
    background-color: #242333d1
    padding: 2.5rem

  &__title
    color: #ffffff
    font-size: 1.8rem
    letter-spacing: 0.72px
    line-height: 1
    margin-bottom: 1.5rem

  &__text
    color: #9d9acc
    font-size: 1.4rem
    letter-spacing: 0.56px
    line-height: 1.2
