//----------------------------------
// Default navbar
//----------------------------------
$gradient-start: #242333
$gradient-end: #3c3b53
$gray: rgba(255, 255, 255, 0.46)

.navbar
  position: fixed
  background-color: #242333
  height: 10.3rem
  width: 100%
  display: flex
  justify-content: center
  align-items: center
  font-family: "Geomanist-Book"
  z-index: 999

  .menu-sm
    display: none
    width: 55px
    height: 55px
    background: url(/img/menu-icon.png) center center no-repeat
    cursor: pointer
    position: absolute;
    left: 0;
    
    &:hover
      filter: brightness(0) invert(1)

    @media #{$media-sm-plus-down:}
      display: block
      margin-left: 12px

  &__icon
    margin-left: -15px
    margin-top: 10px

  &__nav
    display: flex
    justify-content: flex-end
    align-items: center
    flex: 0 0 65%

    @media #{$media-sm-plus-down:}
      display: none
      transform: translate(0px, -100px)

  &__nav-item
    text-transform: capitalize
    text-shadow: 0 5px 10px rgba(0, 0, 0, 0.1)
    color: #ffffff
    font-size: 1.4rem
    letter-spacing: 1.13px
    padding-left: 3.5rem
    padding-right: 3.5rem

    @media #{$media-sm-plus-down:}
      width: 100%
      text-align: center
      padding: 4.2rem 3.4rem
  
    &_play
      display: flex
      justify-content: center
      align-items: center
      padding: 0.2rem
      background-image: linear-gradient(to right, #6f6d99 0%, #9c99cb 100%)
      border-radius: 21px
     
      &:hover
        background-image: linear-gradient(to right, #6e31c6 0%, #d84fc7 100%)

      &_bg
        background-image: linear-gradient(to right, $gradient-start 0%, #3c3b53 100%)
        border-radius: 21px
        padding: 1.3rem 3.8rem
        border: 2px solid #242333


    &_active
      background-image: linear-gradient(to bottom, $gradient-start 0%, #3c3b53 100%)
      padding: 4.2rem 3.4rem
      position: relative

      &::after
        background-image: linear-gradient(to right, #6e31c6 0%, #d84fc7 100%)
        bottom: 0
        content: ""
        height: 2px
        left: 0
        position: absolute
        right: 0

  &__user-info
    width: 100%
    display: flex
    justify-content: flex-end
    align-items: center

    &-item
      width: 3.8rem
      height: 3.8rem
      margin-right: 3.8rem

      @media #{$media-xs}
        margin-right: 1rem

      &_achievement
        &:hover
          filter: brightness(0) invert(1)

      &_notification
        &:hover
          filter: brightness(0) invert(1)

      &_point
        padding: 0.2rem
        background-image: linear-gradient(to right, #6e31c6 0%, #d84fc7 100%)
        min-width: 8rem
        display: flex
        justify-content: center
        border-radius: 2rem
        margin-right: 2rem

        @media #{$media-xs}
          margin-right: 1rem

        &-btn
          background: url(/img/icons/bg_btn_user.png) -12px
          background-color: #343247
          border-radius: 2rem
          display: flex
          width: 100%
          color: #cecbff
          font-size: 1.4rem
          justify-content: center
          align-items: center

          &_white
            color: #ffffff
          
      &_user
        background-image: linear-gradient(to right, $gradient-start 0%, $gradient-end 100%)
        box-shadow: 0 0 0px 2px $gray
        border-radius: 50%
        margin-right: 2rem

        &:hover 
          box-shadow: 0 0 0px 2px #d84fc7

      &_avatar
        border-radius: 50%

  .menu-show
    display: flex
    top: 203px
    width: 100vw
    height: 100vh
    position: absolute
    background: #242333
    border-top: 2px solid rebeccapurple
    flex-direction: column
    align-items: flex-start
    justify-content: flex-start
    left: 0
