block vars

block content
	.container
		.content
			include go-back
			include pagination
			include publication
			include comments-list
		
		.news 
			.news__title Related News
			include card
			include card
			include card
