block vars

block content

	.navbar
		nav.navbar__nav
			a.navbar__nav-item.navbar__nav-item_active(href="/") home
			a.navbar__nav-item(href="/") Marketplace
			a.navbar__nav-item(href="/") Booster Packs
			a.navbar__nav-item.navbar__nav-item_play(href="/") Play
		.navbar__user-info
			img.navbar__user-info-item.navbar__user-info-item_achievement(src="./img/icons/achievement.png", alt="achievement")
			img.navbar__user-info-item.navbar__user-info-item_notification(src="./img/icons/notification.png", alt="notification")
			.navbar__user-info-item.navbar__user-info-item_point
				.navbar__user-info-item_point-btn(href="/")
					img(src="./img/icons/gem.png", alt="gem", width="18")
					div
						span.navbar__user-info-item_point-btn_white 1
						| 42
			.navbar__user-info-item.navbar__user-info-item_user
				img.navbar__user-info-item_avatar(src="https://via.placeholder.com/150")
	.container
		.content
			
			.back
				img.back__icon(src="./img/icons/arrow-left.png", alt="go_back")
				| Back


			.publication
				img.publication__img(src="/img/post_img.png", alt="logo-img")
				h3.publication__title The International 2018 Collector’
				h6.publication__date July 24, 2018
				p.publication__text Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages
				p.publication__text.publication__text__second Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.

				.publication__footer
					.publication__footer-feedback
						.publication__footer-feedback-wrap
							img.publication__footer-feedback-icon(src="/img/icons/like.png", alt="like")
							| 345
						.publication__footer-feedback-wrap
							img.publication__footer-feedback-icon(src="/img/icons/eye.png", alt="view")
							| 7.649

					.publication__footer-social
						.publication__footer-social-wrap
							img.publication__footer-social-icon(src="/img/icons/share.png", alt="share")
							img.publication__footer-social-icon(src="/img/icons/fb.png", alt="fb")
							img.publication__footer-social-icon_last(src="/img/icons/tw.png", alt="tw")
			.comment
				.comment__header
					.comment__header-comments
						.comment__header-comments-wrap
							img.comment__header-comments-icon(src="/img/icons/comment.png", alt="comment")
							| Comments: 
							span.comment__header-comments-span 48

					.comment__header-btn
						a.comment__header-btn-item.comment__header-btn_active(href="/") Popular
						a.comment__header-btn-item(href="/") Recent
					
				.comment__body
					input.comment__body-input(type="text" placeholder="Type comment here..")
					.comment__body-comment
						img.comment__body-comment-avatar(src="img/avatar.png", alt="")
						.comment__body-text-wrap
							.comment__body-title
								.comment__body-name-user Svetlakov
								.comment__body-date 22 May
							.comment__body-text Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500.

		.news Related News
